{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- hero slider -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}
<section class="hero-section overlay bg-cover" data-background="{{ .bg_image | absURL }}">
  <div class="container">
    <div class="hero-slider">
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out='fadeOut{{ "right" | title }}' data-delay-out="5" data-duration-in=".3"
              data-animation-in='fadeIn{{ "left" | title }}' data-delay-in=".1">Selamat Datang di Website Resmi Padukuhan Banjeng, Kelurahan Maguwoharjo, Kapanewon Depok, Kabupaten Sleman</h1>
            <a href="#Artikel" class="btn btn-primary" data-animation-out='fadeOut{{ "right" | title }}' data-delay-out="5" data-duration-in=".3" data-animation-in='fadeIn{{ "left" | title }}' data-delay-in=".7">Jelajahi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /hero slider -->

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title" id="Artikel">{{ $data.homepage.blog.title }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- blog post -->
      {{ range first 3 (where site.RegularPages "Type" "post")}}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "post" }}
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ "Aduan Masyarakat" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST" data-netlify="true" netlify>
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Nama" required>
          <input type="number" class="form-control mb-3" id="mail" name="mail" placeholder="No. HP" required>
          <textarea name="message" id="message" class="form-control mb-3" placeholder="Komentar" required></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ "Kirim" }}</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

{{ end }}