{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.image }}
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="about image">
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->
<!-- funfacts -->
{{ with .Params.dusun_banjeng }}
<section class="section-sm bg-primary">
  <div class="container">
    <h3 class="text-white">Dusun Banjeng</h3>
    <div class="row-box">
      <!-- funfacts item -->
      {{ range . }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /funfacts -->

<!-- funfacts -->
{{ with .Params.dusun_tempelsari }}
<section class="section-sm bg-primary">
  <div class="container">
    <h3 class="text-white">Dusun Tempelsari</h3>
    <div class="row-box">
      <!-- funfacts item -->
      {{ range . }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /funfacts -->

<!-- funfacts -->
{{ with .Params.dusun_grogol }}
<section class="section-sm bg-primary">
  <div class="container">
    <h3 class="text-white">Dusun Grogol</h3>
    <div class="row-box">
      <!-- funfacts item -->
      {{ range . }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /funfacts -->

<!-- funfacts -->
{{ with .Params.dusun_bokoharjo }}
<section class="section-sm bg-primary">
  <div class="container">
    <h3 class="text-white">Dusun Bokoharjo</h3>
    <div class="row-box">
      <!-- funfacts item -->
      {{ range . }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /funfacts -->

<!-- funfacts -->
{{ with .Params.perumahan_ayodya_citra }}
<section class="section-sm bg-primary">
  <div class="container">
    <h3 class="text-white">Perumahan Ayodya Citra</h3>
    <div class="row-box">
      <!-- funfacts item -->
      {{ range . }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /funfacts -->

{{ end }}